body {
 background: #86aecc; 
}

h1 {
  color: #003;
}

form {
  	max-width: auto;
    background: #FAFAFA;
    padding: 30px;
    margin: 50px auto;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    border: 4px solid #483D8B;
}

input {
  margin: 10px auto;
  width: 20%;
}

input[type=text]:focus {
    border: 3px solid #483D8B;
	width: 70%;
}

label {
  font : 1.1em "typewriter", sans-serif;
}

button, input, select, textarea {
  font-family : inherit;
  font-size   : 100%;
}

select {
    width: 70%;
    padding: 8px 10px;
    border: 1px;
    border-radius: 4px;
    background-color: #f1f1f1;
}

input, label, select {
    display:block;
    margin: 5px;

  -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
     -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
          box-sizing: border-box;
}
