body {
  background: #86aecc;
}

h1 {
  color: #003;
}

form {
  position:relative;
  max-width: auto;
  background: #FAFAFA;
  padding: 30px;
  /* margin-left: auto; */
  margin: 20px 10px 20px 90px;
  box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  border: 4px solid #483D8B;
}

textarea {
  width: 30%;
}

input[type=text]:focus, input[type=email]:focus {
  border: 3px solid #483D8B;
  width: 30%;
}

label {
  font : 1.1em "typewriter", sans-serif;
  display: inline-block;
}

button, input, select, textarea {
  font-family : inherit;
  font-size   : 100%;
  resize: vertical;
}

select {
  width: 70%;
  padding: 8px 10px;
  border: 1px;
  border-radius: 4px;
  background-color: #f1f1f1;
}

input, label, select {
  display:block;
  margin: 5px;

  -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
  -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
  box-sizing: border-box;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
